<%
    var categories = [];
    item.categories.forEach(function(category){
        categories.push('<a href="' + config.root + category.path + '" style="float: right">' + category.name + '</a>');
    });
%>

<%- categories.join('/ ') %>
