<script type="text/javascript">
$(function(){
  /* initiate the plugin */
  $("div.pag-holder").jPages({
      containerID  : "pag-itemContainer",
      perPage      : 4,  /* num of items per page */
      startPage    : 1,
      startRange   : 1,
      midRange     : 2,
      endRange     : 1
  });
});
</script>
<!--<h1 class="txt-center category_title"> {{ page.title }} </h1>-->
<ul class="post-list"id="pag-itemContainer" style="list-style:none;" >
{% for catagory in site.categories %}
 {% if catagory[0] == page.categories %}
   {% assign counter = 0 %}
   {% for post in catagory[1]%}
          <li>
          {% include post.html %}
          {% assign counter = counter | plus: 1 %}
          </li>
   {% endfor %}
{% endif %}
    {% endfor %}
 {% include jspagination.html %}
</ul>
