{% if page.title == 'Home' %}
<div class="site_description txt-left">
 {{ site.description }}
 </div>
 {% elseif page.title == 'About | 关于我'%}
      <div class="site_description txt-left">
          About | 关于我
      </div>
{% else %}
<div class="page_description txt-left ">
 {{ page.title }}
   <br>
 <span  class="post-meta" style="font-size: 30%;">
      <time class="post-date" style="font-style: italic;" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      <span class="post-author">by {{ site.author.name }}</span>
    </span>
    <span style="font-size: 40%;" class="post-category">
      <br>  <i class="fa fa-bookmark"></i></span>
    <span style="font-size: 70%;" class="post-category">{{page.category}}</span>&nbsp;
{%if {{page.tags}}!=[] %}
  <span  class="post-tags" style="font-size: 40%;"> <i class="fa fa-tag"> </i>
</span>
<span style="font-size: 70%;" class="post-tags">
{%for tags in  {{page.tags}} %}
    {{tags}}
{%endfor%}
{%endif%}
</span>
</div>
{%endif%}
</header>
