<div class="social-icons">
<span> 找到我 Find me @</span>
  <ul class="text-left">
   <li>  </li>
    <li><a href="mailto:{{ site.author.mail }}" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
    <li><a href="{{ site.weibo }}" target="_blank"><i class="fa fa-weibo"></i></a></li>
     <li><a href="{{ site.zhihu }}" target="_blank"><i class="icon-zhihu"></i></a></li>
    <li><a href="{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>  
  </ul>
</div>
