---
layout: compress
---
<!DOCTYPE html>
<html lang="zh-cn">
  {% include head.html %}

      <header class="header" style="margin-bottom:0em; background: #00CED1 url('{{site.url}}{{page.background}}') no-repeat 50% 0px;background-size:200%">
      <div class="overlay">
        <div class = "coverbox">
          <div class ="title">
          <h1><LARGE> <a href="{{ site.baseurl }}/" >{{ site.entitle }}</a></LARGE><br></h1>
          <h2 class = txt-center><a href="{{ site.baseurl }}/" >{{ site.cntitle }}</a></h2>
          </div>
          <nav class="navbar">
            <a href="#" class="menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </a>
            <ul class="nav">
               <li><a href="{{ site.baseurl }}/category/coding/">码畜の日常 | Coding </a></li>
               <li><a href="{{ site.baseurl }}/category/life/" >一本正经的扯淡 | Life</a></li>
               <li><a href="{{ site.baseurl }}/category/experience/" >见闻如是说 | Experience</a></li>
               <li><a href="{{ site.author.introductive_url }}" target="_blank" >关于我 | ME</a></li>
            </ul>
          </nav>
          <div class="site_description txt-left" style="opacity:0.4;filter:alpha(opacity=40); " >
            {% include social-icons.html %}
          </div>
    </div>
</div>
  </header>
  <body class="{{ page.slug }}">
    <main class="main">
      {{ content }}
    </main>
  </body>
