---
layout: default
slug: single
---
<article class="post container card">
  <header class="post-header">
    <h1 class="post-title shownOnPhone">{{ page.title }}</h1>
    <span class="post-meta shownOnPhone">
     <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      <span class="post-author">by {{ site.author.name }}</span>
      <br>
      <span class="post-category shownOnPhone"><i class="fa fa-bookmark"></i> {{page.category}}</span>
{%if {{page.tags}}!=[] %}
 <span class="post-tags shownOnPhone"><i class="fa fa-tag"></i>
{%for tags in  {{page.tags}} %}
      {{tags}}
{%endfor%}
{%endif%}
</span>
    </span>
  </header>

  <div class="post-content">
    {{ content }}
    <aside class="share">
 <span> <small> 转发分享到 | Share this to</small></span>
      <br>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" style="padding-right:20px"><i class="fa fa-facebook-square"></i></a>

      <a href="http://service.weibo.com/share/share.php?url={{site.url}}{{page.url}}" target="_blank"
      onclick="window.open(this.href,'weibo-share''width=580,height=296');return false;" style="padding-right:20px">
        <i class="fa fa-weibo"></i>
      </a>
    </aside>
<br>
<br>
{% if page.previous %}



  <a href="{{ page.previous.url }}"style=“width:10%” class= "f-left va-middle">上一篇 | Previous </a>

{% else %}
<a></a>
{% endif %}

{% if page.next %}
  <a href="{{ page.next.url }}" style=“width:10%” class= "f-right va-middle">下一篇 | Next</a>

{% else %}
<a></a>
{% endif %}
  {% include comments.html %}

  </div>
</article>
