<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>'), url('<%- theme.alternative_index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>About ME</h1>
                    <span class="subheading">Hi, there.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="space-fix container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            码渣，菜鸡，炼丹爱好者。<br>
            坚强的热爱生活。<br>
            被好奇心驱动着。<br>
        </div>
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><hr></div>
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            Love coding and data alchemy.<br>
            Life is fantanstic.<br>
            Drive by curiosity.<br>
        </div>
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><br></div>

    </div>
</div>


<!-- Comments -->
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <%- partial("_partial/comments.ejs") %>
</div>
